.contenedor-boton_inicio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.boton_inicio{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border-style: double;
  border-color: white ;
  border-width: 10px;
  background-color: var(--coolors-cyan-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  color: white;
  transition-duration: 2s;
  
}

.boton_inicio:hover{
  scale: 1.02;
  transition-duration: .4s;
}

